body
{
  margin:50px;
  padding:0;
  display: transparent;
  background: #00FFFF;
  justify-content:space-between;
  align-items: center;
  height: 120vh;
  opacity:100%;

}
ul{
  margin:20;
  padding:40;
  display: flex;

}
ul li{

  list-style:none;
  margin: 0 40px;
  transition: 0.5s;

}
ul li a{
  display: block;
  position: relative;
  text-decoration: none;
  padding : 3px;
  font-size: 18px;
  font-family: sans-serif;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
}
ul:hover li a{
transform: scale(2);
  opacity: 0.2;
  filter: blur(5px);

}
ul li a:hover{
  transform: scale(2);
    opacity: 1;
    filter: blur(0);
}
ul li a:before
{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #FFFFFF;
transition: transform 0.5s;
transform-origin: right;
transform: scaleX(0);
z-index: -1;

}
ul li a:hover:before{
transition:transform 0.5s;
transform-origin: right;
transform: scaleX(1);
}
.box{
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%,-50%);
width: 400px;
padding: 40px;
background: rgba(0, 0, 0, 0.8);
box-sizing: border-box;
box-shadow: : 0 15px 25px rgba(0,0,0,0.5);
border-radius: 10px;
}
.box h2
{
margin: 0 0 30px;
padding: 0;
color: #fff;
text-align: center;
}
.box .inputBox{
  position: relative;
}
.box .inputBox  input
{
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}
.box .inputBox label{
position: absolute;
top: 0;
left: 0;
letter-spacing: 1px;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: 0.5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
top: -18px;
left: 0;
color: #808080s;
font-size: 12px;
}
.box input[type="submit"]
{
background: transparent;
border: none;
outline: none;
color: #fff;
background: #808080;
padding: 10px 20px;
cursor:pointer;
border-radius: 5px;
}
